.account {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F2E205;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #A6BF49;
}

.button {
    background-color: #488C03;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-details {
    text-align: center;
    color: #488C03;
}