.filter-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    background-color: #F2E8B3; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.select {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #A6BF49; 
    border-radius: 4px;
    background-color: white;
    color: #488C03; 
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    background-color: #488C03; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}