.app {
    background-color: #EFF294;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #A6BF49;
  }
  
  .icon {
    cursor: pointer;
    font-size: 24px;
    color: #488C03;
  }
  
  .main-content {
    background-color: #EFF294;
    padding: 20px;
  }  